body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20;
}
/* color under body refers to font color
 */
 h1, #description {
    margin: 1rem auto;
    text-align: center;
 }
form {
    width:90vw;
    max-width: 600px;
    margin: 0 auto;
    background-color: #1b1b32;
}
/* .users{
    padding: 40px 0 0 0;
} */
fieldset {
    margin: 0 50px 0 50px;
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f
}
fieldset:last-of-type {
    border-bottom: none;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  }
  #name-label,#email-label,#number-label,#role{
    margin: auto;

  }

  input,textarea,select {
    margin: 10px 0px 0px 55px;
    width: 100%;
    min-height: 2em;
    /* display:block; */
    margin: auto;
  }
  input[type="submit"]{
    display:block;
    width: 84%;
    margin: 0 50px 0 50px;
    background-color: green;
  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }